.layout {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 652px;
    height: 474px;
    padding-top: 24px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-normal);
    border-radius: 30px;
    & h1 {
        font-size: var(--font-size-36);
        color: var(--color-medium-gray);
    }
}

.contentBox {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
