.joinBox {
    gap: 31px;
}
.watchwordBox {
    border: 3px solid var(--color-blue);
    border-radius: 30px;
    padding: 30px 26px 26px 16px;
}

.watchwordBox p {
    margin-bottom: 26px;
    color: var(--color-medium-gray);
    font-weight: 500;
    font-size: var(--font-size-14);
}
