.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    top: 0;
    right: 0;
    z-index: 999;
}

.modalOpenElem {
    position: fixed;
    top: 30px;
    right: -294px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    width: auto;
    height: calc(100vh - 60px);
    z-index: 1000;
}

.modalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 37px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-normal);
    border: none;
    box-sizing: border-box;
}

.modalBox {
    padding: 14px 16px;
    width: 294px;
    height: 100%;
    border-radius: 30px;
    background-color: var(--color-white);
    box-shadow: var(--shadow-normal);
}

.modalBoxElem {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-20);
    gap: 30px;
}

.animatedOpen {
    transition: 0.3s ease-out;
    right: 16px;
}

.animatedClose {
    transition: 0.3s ease-out;
    right: -294px;
}
