.sideMenuWrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
    top: 0;
    left: 0;
    z-index: 999;
}

.modalOpenElem {
    position: fixed;
    top: 30px;
    right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    width: auto;
    height: calc(100vh - 60px);
    z-index: 1001;
}

.modalButtonClose {
    margin-top: 14px;
    width: 60px;
    height: 60px;
    border-radius: 37px;
    background-color: var(--color-white);
}

.modalButtonClose:active {
    background-color: var(--color-gray);
}

.modalButtonClose:active svg path {
    stroke: var(--color-medium-gray);
}

.modalBox {
    padding: 14px 16px;
    width: 294px;
    height: 100%;
    border-radius: 30px;
    background-color: var(--color-white);
}

.modalBoxElem {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    gap: 30px;
}

.animatedText {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
