@use "@/styles/variables/Colors.scss";
@use "@/styles/variables/Typography.scss";
@use "@/styles/variables/Shadows.scss";

.time {
  font-weight: bold;
  color: var(--color-white);
  font-size: var(--font-size-48);
  display: flex;
  justify-content: center;
  border-radius: 30px;
  padding: 5px 0;
  gap: 6px;
  box-shadow: var(--shadow-normal);
}

.time-span {
  font-size: var(--font-size-14);
  position: relative;
  top: 28px;
}

.green {
  background-color: var(--color-green);
}
.yellow {
  background-color: var(--color-yellow);
}
.red {
  background-color: var(--color-red);
}
.gray {
  background-color: var(--color-medium-gray);
}
