:root {
  --color-blue: #41bcff;
  --color-green: #2ada6e;
  --color-yellow: #ffc80b;
  --color-orange: #ff9f40;
  --color-red: #e54671;

  --color-blue-light: #e8f9ff;
  --color-green-light: #e8fde7;
  --color-yellow-light: #fff6d6;
  --color-orange-light: #ffe7cf;
  --color-red-light: #ffe2e2;

  --color-white: #ffffff;
  --color-light-gray: #fafafa;
  --color-gray: #dbe2e7;
  --color-light-blue: #c7d2db;
  --color-medium-gray: #5a6977;
  --color-dark-gray: #2a3034;
}
