.outputGroup {
    width: 100%;
    height: 30%;
    background-color: var(--color-white);
    border-radius: 30px;
    box-shadow: var(--shadow-normal);
    padding: 27px;

    h1 {
        font-size: var(--font-size-20);
        color: var(--color-medium-gray);
        margin-bottom: 10px;
    }

    .outputMain {
        width: 100%;
        height: 70%;
        overflow-y: scroll;
        scrollbar-color: var(--color-gray) var(--color-white);
        scrollbar-width: auto;
        font-size: var(--font-size-20);
        color: var(--color-medium-gray);
    }
}
