@use "@/styles/variables/Colors.scss";
.phaseBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 27.25px;
}
.phaseRead {
  border: 6px solid var(--color-yellow);
  background-color: var(--color-yellow-light);
}
.phaseDelete {
  border: 6px solid var(--color-red);
  background-color: var(--color-red-light);
}
.phaseFix {
  border: 6px solid var(--color-green);
  background-color: var(--color-green-light);
}
.phaseAnswer {
  border: 6px solid var(--color-orange);
  background-color: var(--color-orange-light);
}
.phaseOff {
  border: 6px solid var(--color-gray);
  background-color: var(--color-gray);
}
