@use "@/styles/variables/Colors.scss";
@use "@/styles/variables/Typography.scss";
@use "@/styles/variables/Shadows.scss";

.button {
  padding: 4px 30px;
  background-color: var(--color-white);
  display: flex;
  border-radius: 100px;
  width: fit-content;
  font-size: var(--font-size-20);
  font-weight: bold;
  color: var(--color-medium-gray);
  box-shadow: var(--shadow-normal);
  align-content: center;
  justify-content: center;
  transition: 100ms;
  &:active {
    transform: scale(0.98);
    box-shadow: none;
  }
}

.button-blue {
  border: 4px solid var(--color-blue);
}
.button-green {
  border: 4px solid var(--color-green);
}
.button-yellow {
  border: 4px solid var(--color-yellow);
}
.button-orange {
  border: 4px solid var(--color-orange);
}
.button-red {
  border: 4px solid var(--color-red);
}
.button-gray {
  border: 4px solid var(--color-medium-gray);
}
